<% include ../partials/header%>
<div class="container">
	<div class="row">
	<h1 style="text-align:center">Edit <%=campground.name%></h1>
		<div style="width:30%; margin:25px auto">
			<form action="/story/<%=campground._id%>?_method=PUT" method="post">
				<div class="form-group">
					<input type="text" value="<%=campground.name%>" name="campground[name]" class="form-control" required>
				</div>
				<div class="form-group">
					<textarea rows="4" cols="48" name="campground[description]" required><%=campground.description%></textarea>
				</div>
					<button class="btn btn-success btn-lg btn-block">Submit</button>
			</form>
			<a href="/story">Go Back</a>
		</div>
	</div>
</div>
<% include ../partials/footer%>