<% include ../partials/header%>
<div class="container newpost">
	<div class="row">
		<h1>Share your Story</h1>
		<div class="col-md-6">
			<div class="widget-area no-padding blank">
				<div class="status-upload">
					<form action="/story" method="post">
						<div class="form-group">
							<input type="text" placeholder="Title" name="name" class="form-control status-upload" required>
						</div>
						<textarea name="description" placeholder="What are you doing right now?" required></textarea>
						<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share </button>
					</form>
					<a href="/story">Go Back</a>
				</div><!-- Status Upload  -->
			</div><!-- Widget Area -->
		</div>
	</div>
</div>
<% include ../partials/footer%>