<% include ../partials/header%>

<div class="container">
	<div class="row">
	<h1 style="text-align:center">Edit Comments</h1>
		<div style="width:30%; margin:25px auto">
			<form action="/story/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method="post">
				<div class="form-group">
					<input type="text" value="<%=comment.text%>" name="comment[text]" class="form-control" required>
				</div>
					<button class="btn btn-success btn-lg btn-block">Submit</button>
			</form>
			<a href="/story">Go Back</a>
		</div>
	</div>
</div>
<% include ../partials/footer%>