<% include partials/header%>
<div class="container ctnhdr-1">
	<div class="row" id="aboutus">
		<h2>
			<strong>About Us !</strong>
		</h2>
		<p>
			Bullying. No Way! and the National D​ay of Action against Bullying and Violence are managed by the Safe and Supportive School Communities (SSSC) Working Group. The SSSC includes representatives from the Commonwealth and all states and territories, as well as national Catholic and independent schooling representatives.
		</p><br/>
		<p>
			Members work together to help schools to create learning environments where every student and school community member is safe, supported, respected and valued.
		</p><br/>
		<p>
			The SSSC is coordinated by the Queensland Government on behalf of Australia's government, Catholic and independent school communities.
		</p><br/>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
<% include partials/footer%>