<!-- Footer -->
<footer id="myFooter">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 myCols">
				<a href="index.html"><h3>Home</h3></a>
			</div>
			<div class="col-sm-4 myCols">
				<a href="/"><h3>About Us</h3></a>
			</div>
			<div class="col-sm-4 myCols">
				<a href="/"><h3>Help</h3></a>
			</div>
		</div>
		<div class="row">
			<!-- <div class="social-networks">
				<a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook-official"></i></a>
				<a href="https://www.gmail.com" class="google"><i class="fa fa-google-plus"></i></a>
			</div> -->
			<div class="footer-copyright">
				<p>Copyright © 2017 • All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>

<script src="\stylesheets\js\jquery-3.2.1.min.js"></script>
<script src="\stylesheets\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
</body>
</html>